.my-account {
  width: 100%;
}
.my-account__tile{
  background: white;
  border: 1px #d8d8d8 solid;
  border-radius: 4px;
  padding: 10px;
}
.my-account .section-heading {
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px #d8d8d8 solid;
}