body {
  background: #f2f2f2;
  border-top: 10px solid #00a8e8;
  border-bottom: 5px solid #00a8e8;
}

.app-body {
  min-height: 400px;
}

.header {
  padding-top: 40px;
  padding-bottom: 40px;
  background: white;
  margin-bottom: 30px;
}

.icon {
  width: 40px;
  height: 40px;
  display: block;
}

.icon--search {
  width: 20px;
  height: 20px;
  display: block;
}

.btn-link {
  position: relative;
}

.btn-link__badge {
  position: absolute !important;
  right: 0;
}

.navbar--main .nav-item {
  text-transform: uppercase;
}

.navbar-brand {
  font-family: serif;
  color: black;
  font-size: 30px;
}

.navbar-brand:hover {
  color: #00a8e8;
}

.navbar-lightest .navbar-nav .nav-link {
  color: black;
}

.navbar-lightest .navbar-nav .nav-link.active {
  border-bottom: 3px solid #00a8e8;
}

.navbar-lightest .navbar-nav .nav-link.active:hover {
  border-bottom-color: #ccc;
}

.navbar-lightest .navbar-nav .nav-link:hover {
  color: rgba(0, 0, 0, 0.8);
}

.btn-link--header:hover {
  opacity: 0.8;
}

.offscreen-menu {
  position: fixed;
  top: 0;
  width: 320px;
  right: -320px;
  height: 100vh;
  background: rgba(255, 255, 255, 1);
  z-index: 10;
  padding: 42px 23px 30px 50px;
}
@media (min-width: 576px) {
  .offscreen-menu {
    right: -400px;
    width: 400px;
    padding: 40px 60px 30px 50px;
  }
}

.offscreen-menu--visible {
  right: 0;
}
.offscreen-menu__btn {
}
.offscreen-menu__btn--close {
  width: 50px;
  height: 50px;
}

.trans_400 {
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}

.section-one,
.basket-table {
  margin-bottom: 30px;
}

.section-one__headers,
.table-one__headers {
  text-transform: uppercase;
  font-weight: 500;
  padding: 20px 30px;
  border-radius: 6px;
  background: rgba(0, 168, 232, 0.2);
  margin-bottom: 10px;
}

.section-one__contents {
  padding: 0 30px;
}

.section-one__contents {
  box-shadow: 0px 2px 7px 0px rgba(180, 180, 180, 0.5);
  border-radius: 6px;
  margin-bottom: 10px;
  padding: 40px 30px;
  background: white;
}

.table-one__content {
  border-bottom: 1px solid rgba(180, 180, 180, 0.2);
  box-shadow: 0px 2px 7px 0px rgba(180, 180, 180, 0.5);
  border-radius: 6px;
  margin-bottom: 10px;
  padding: 30px 30px;
  background: white;
}

@media screen and (min-width: 992px) {
  .table-one__content {
    margin-bottom: 0px;
    padding: 10px 30px;
  }
}

.table-one__icon {
  width: 30px;
  height: 30px;
  display: block;
  margin: 10px;
}

.c-pointer {
  cursor: pointer;
}

.entry-separator {
  border-bottom: 1px solid rgba(180, 180, 180, 0.3);
  width: 100%;
  padding: 5px 0;
  margin: 15px 0;
}

.product {
}

.product__link {
  font-weight: bold;
  color: black;
}
.product__link:hover {
  color: rgba(0, 0, 0, 0.5);
}

.input {
  padding: 10px;
  border: 1px solid rgba(180, 180, 180, 0.6);
  border-radius: 6px;
  box-shadow: 0;
}

.discount__label {
  padding-right: 10px;
}

.discount__btn {
  margin-left: 10px;
}

.order-menu__item {
  border-bottom: 1px dashed rgba(180, 180, 180, 0.4);
  padding: 15px 0;
}

.order-menu__item--strong {
  font-size: 30px;
}

.order-menu__item--strong .label {
  font-weight: bold;
  color: #150578;
}

.order-menu__item--strong .value {
  font-weight: bold;
  color: #150578;
}
